In [ ]:
# install Java8
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
# download spark 3.5.0
!wget -q https://apache.osuosl.org/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz

In [ ]:
ls -l # check the .tgz is there

total 782040
drwxr-xr-x  2 root root      4096 Jan 13 10:59 dataset/
drwx------  5 root root      4096 Jan 13 11:59 drive/
drwxr-xr-x  1 root root      4096 Jan 11 17:02 sample_data/
drwxr-xr-x 13 1000 1000      4096 Sep  9 02:08 spark-3.5.0-bin-hadoop3/
-rw-r--r--  1 root root 400395283 Sep  9 02:10 spark-3.5.0-bin-hadoop3.tgz
-rw-r--r--  1 root root 400395283 Sep  9 02:10 spark-3.5.0-bin-hadoop3.tgz.1

In [ ]:
# unzip it
!tar xf spark-3.5.0-bin-hadoop3.tgz

In [ ]:
!pip install -q findspark

In [ ]:
!pip install py4j

# For maps
!pip install folium
!pip install plotly

Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Requirement already satisfied: folium in /usr/local/lib/python3.10/dist-packages (0.14.0)
Requirement already satisfied: branca>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from folium) (0.7.0)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.10/dist-packages (from folium) (3.1.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from folium) (1.23.5)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from folium) (2.31.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2>=2.9->folium) (2.1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (2023.11.17)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (5.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from plotly) (23.2)

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.0-bin-hadoop3"
os.environ["PYSPARK_SUBMIT_ARGS"] = "--master local[*] pyspark-shell"

In [ ]:
import findspark
findspark.init("spark-3.5.0-bin-hadoop3")# SPARK_HOME

from pyspark.sql import SparkSession

# create the session
spark = SparkSession \
        .builder \
        .appName("Joins") \
        .master("local[*]") \
        .getOrCreate()

spark.version

'3.5.0'

In [ ]:
spark

In [ ]:
# Import sql functions
from pyspark.sql.functions import *

In [ ]:
!mkdir -p dataset
!wget -q https://raw.githubusercontent.com/paponsro/spark_edem_2324/master/dataset/guitars.json -P /dataset
!wget -q https://raw.githubusercontent.com/paponsro/spark_edem_2324/master/dataset/guitarPlayers.json -P /dataset
!wget -q https://raw.githubusercontent.com/paponsro/spark_edem_2324/master/dataset/bands.json -P /dataset
!wget -q https://raw.githubusercontent.com/paponsro/spark_edem_2324/master/dataset/employees.csv -P /dataset
!wget -q https://raw.githubusercontent.com/paponsro/spark_edem_2324/master/dataset/salaries.csv -P /dataset
!wget -q https://raw.githubusercontent.com/paponsro/spark_edem_2324/master/dataset/deptmanagers.csv -P /dataset
!wget -q https://raw.githubusercontent.com/paponsro/spark_edem_2324/master/dataset/titles.csv -P /dataset
!ls /dataset

bands.json	  deptmanagers.csv.1  guitarPlayers.json    guitars.json.1  titles.csv
bands.json.1	  employees.csv       guitarPlayers.json.1  salaries.csv    titles.csv.1
deptmanagers.csv  employees.csv.1     guitars.json	    salaries.csv.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

file_path = '/content/drive/MyDrive/imdb_top_1000.csv'

df = spark.read.csv(file_path, header=True, inferSchema=True)

df.printSchema()

df.show()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
root
 |-- Poster_Link: string (nullable = true)
 |-- Series_Title: string (nullable = true)
 |-- Released_Year: string (nullable = true)
 |-- Certificate: string (nullable = true)
 |-- Runtime: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- IMDB_Rating: double (nullable = true)
 |-- Overview: string (nullable = true)
 |-- Meta_score: string (nullable = true)
 |-- Director: string (nullable = true)
 |-- Star1: string (nullable = true)
 |-- Star2: string (nullable = true)
 |-- Star3: string (nullable = true)
 |-- Star4: string (nullable = true)
 |-- No_of_Votes: string (nullable = true)
 |-- Gross: string (nullable = true)

+--------------------+--------------------+-------------+-----------+-------+--------------------+-----------+--------------------+----------+--------------------+------------------+--------------------+------------------+--------------------+-----------+-----------+
|         Poster_Link|        Series_Title|Released_Year|Certificate|Runtime|               Genre|IMDB_Rating|            Overview|Meta_score|            Director|             Star1|               Star2|             Star3|               Star4|No_of_Votes|      Gross|
+--------------------+--------------------+-------------+-----------+-------+--------------------+-----------+--------------------+----------+--------------------+------------------+--------------------+------------------+--------------------+-----------+-----------+
|https://m.media-a...|The Shawshank Red...|         1994|          A|142 min|               Drama|        9.3|Two imprisoned me...|        80|      Frank Darabont|       Tim Robbins|      Morgan Freeman|        Bob Gunton|      William Sadler|    2343110| 28,341,469|
|https://m.media-a...|       The Godfather|         1972|          A|175 min|        Crime, Drama|        9.2|An organized crim...|       100|Francis Ford Coppola|     Marlon Brando|           Al Pacino|        James Caan|        Diane Keaton|    1620367|134,966,411|
|https://m.media-a...|     The Dark Knight|         2008|         UA|152 min|Action, Crime, Drama|        9.0|When the menace k...|        84|   Christopher Nolan|    Christian Bale|        Heath Ledger|     Aaron Eckhart|       Michael Caine|    2303232|534,858,444|
|https://m.media-a...|The Godfather: Pa...|         1974|          A|202 min|        Crime, Drama|        9.0|The early life an...|        90|Francis Ford Coppola|         Al Pacino|      Robert De Niro|     Robert Duvall|        Diane Keaton|    1129952| 57,300,000|
|https://m.media-a...|        12 Angry Men|         1957|          U| 96 min|        Crime, Drama|        9.0|A jury holdout at...|        96|        Sidney Lumet|       Henry Fonda|         Lee J. Cobb|     Martin Balsam|        John Fiedler|     689845|  4,360,000|
|https://m.media-a...|The Lord of the R...|         2003|          U|201 min|Action, Adventure...|        8.9|Gandalf and Arago...|        94|       Peter Jackson|       Elijah Wood|     Viggo Mortensen|      Ian McKellen|       Orlando Bloom|    1642758|377,845,905|
|https://m.media-a...|        Pulp Fiction|         1994|          A|154 min|        Crime, Drama|        8.9|The lives of two ...|        94|   Quentin Tarantino|     John Travolta|         Uma Thurman| Samuel L. Jackson|        Bruce Willis|    1826188|107,928,762|
|https://m.media-a...|    Schindler's List|         1993|          A|195 min|Biography, Drama,...|        8.9|In German-occupie...|        94|    Steven Spielberg|       Liam Neeson|       Ralph Fiennes|      Ben Kingsley|    Caroline Goodall|    1213505| 96,898,818|
|https://m.media-a...|           Inception|         2010|         UA|148 min|Action, Adventure...|        8.8|A thief who steal...|        74|   Christopher Nolan| Leonardo DiCaprio|Joseph Gordon-Levitt|       Elliot Page|        Ken Watanabe|    2067042|292,576,195|
|https://m.media-a...|          Fight Club|         1999|          A|139 min|               Drama|        8.8|An insomniac offi...|        66|       David Fincher|         Brad Pitt|       Edward Norton|         Meat Loaf|        Zach Grenier|    1854740| 37,030,102|
|https://m.media-a...|The Lord of the R...|         2001|          U|178 min|Action, Adventure...|        8.8|A meek Hobbit fro...|        92|       Peter Jackson|       Elijah Wood|        Ian McKellen|     Orlando Bloom|           Sean Bean|    1661481|315,544,750|
|https://m.media-a...|        Forrest Gump|         1994|         UA|142 min|      Drama, Romance|        8.8|The presidencies ...|        82|     Robert Zemeckis|         Tom Hanks|        Robin Wright|       Gary Sinise|         Sally Field|    1809221|330,252,182|
|https://m.media-a...|Il buono, il brut...|         1966|          A|161 min|             Western|        8.8|A bounty hunting ...|        90|        Sergio Leone|    Clint Eastwood|         Eli Wallach|     Lee Van Cleef|        Aldo Giuffrè|     688390|  6,100,000|
|https://m.media-a...|The Lord of the R...|         2002|         UA|179 min|Action, Adventure...|        8.7|While Frodo and S...|        87|       Peter Jackson|       Elijah Wood|        Ian McKellen|   Viggo Mortensen|       Orlando Bloom|    1485555|342,551,365|
|https://m.media-a...|          The Matrix|         1999|          A|136 min|      Action, Sci-Fi|        8.7|When a beautiful ...|        73|      Lana Wachowski|   Lilly Wachowski|        Keanu Reeves|Laurence Fishburne|    Carrie-Anne Moss|    1676426|171,479,930|
|https://m.media-a...|          Goodfellas|         1990|          A|146 min|Biography, Crime,...|        8.7|The story of Henr...|        90|     Martin Scorsese|    Robert De Niro|          Ray Liotta|         Joe Pesci|     Lorraine Bracco|    1020727| 46,836,394|
|https://m.media-a...|Star Wars: Episod...|         1980|         UA|124 min|Action, Adventure...|        8.7|After the Rebels ...|        82|      Irvin Kershner|       Mark Hamill|       Harrison Ford|     Carrie Fisher|  Billy Dee Williams|    1159315|290,475,067|
|https://m.media-a...|One Flew Over the...|         1975|          A|133 min|               Drama|        8.7|A criminal pleads...|        83|        Milos Forman|    Jack Nicholson|     Louise Fletcher|  Michael Berryman|        Peter Brocco|     918088|112,000,000|
|https://m.media-a...|            Hamilton|         2020|      PG-13|160 min|Biography, Drama,...|        8.6|The real life of ...|        90|         Thomas Kail|Lin-Manuel Miranda|        Phillipa Soo|   Leslie Odom Jr.|Renée Elise Golds...|      55291|       NULL|
|https://m.media-a...|        Gisaengchung|         2019|          A|132 min|Comedy, Drama, Th...|        8.6|Greed and class d...|        96|        Bong Joon Ho|      Kang-ho Song|        Lee Sun-kyun|     Cho Yeo-jeong|        Choi Woo-sik|     552778| 53,367,844|
+--------------------+--------------------+-------------+-----------+-------+--------------------+-----------+--------------------+----------+--------------------+------------------+--------------------+------------------+--------------------+-----------+-----------+
only showing top 20 rows

In [ ]:
threshold = 8.0
high_rated_movies = df.filter(col("IMDB_Rating") > threshold).count()
print(f"Número de películas con calificación IMDB superior a {threshold}: {high_rated_movies}")

Número de películas con calificación IMDB superior a 8.0: 322

In [ ]:
df = df.withColumn("Genre", explode(split(col("Genre"), ", ")))

genre_counts = df.groupBy("Genre").count().orderBy("count", ascending=False)
genre_counts.show()

+---------+-----+
|    Genre|count|
+---------+-----+
|    Drama|  724|
|   Comedy|  233|
|    Crime|  209|
|Adventure|  196|
|   Action|  189|
| Thriller|  137|
|  Romance|  125|
|Biography|  109|
|  Mystery|   99|
|Animation|   82|
|   Sci-Fi|   67|
|  Fantasy|   66|
|   Family|   56|
|  History|   56|
|      War|   51|
|    Music|   35|
|   Horror|   32|
|  Western|   20|
|Film-Noir|   19|
|    Sport|   19|
+---------+-----+
only showing top 20 rows

In [ ]:
year_counts = df.groupBy("Released_Year").count().orderBy("Released_Year")
year_counts.show()

+-------------+-----+
|Released_Year|count|
+-------------+-----+
|         1920|    3|
|         1921|    3|
|         1922|    2|
|         1924|    3|
|         1925|    6|
|         1926|    3|
|         1927|    4|
|         1928|    5|
|         1930|    2|
|         1931|    9|
|         1932|    5|
|         1933|    8|
|         1934|    5|
|         1935|    9|
|         1936|    3|
|         1937|    2|
|         1938|    8|
|         1939|   13|
|         1940|   19|
|         1941|    4|
+-------------+-----+
only showing top 20 rows

In [ ]:
certificate_counts = df.groupBy("Certificate").count().orderBy("count", ascending=False)
certificate_counts.show()

+-----------+-----+
|Certificate|count|
+-----------+-----+
|          U|  618|
|          A|  489|
|         UA|  457|
|          R|  361|
|       NULL|  235|
|         PG|  101|
|      PG-13|  100|
|     Passed|   92|
|          G|   32|
|   Approved|   30|
|      TV-PG|    7|
|         GP|    6|
|    Unrated|    3|
|         16|    3|
|      TV-MA|    3|
|        U/A|    3|
|      TV-14|    1|
+-----------+-----+

In [ ]:
director_counts = df.groupBy("Director").count().orderBy("count", ascending=False)
director_counts.show()

+-----------------+-----+
|         Director|count|
+-----------------+-----+
| Alfred Hitchcock|   37|
|   Hayao Miyazaki|   33|
| Steven Spielberg|   29|
|  Martin Scorsese|   27|
|   Akira Kurosawa|   26|
|     Billy Wilder|   24|
|  Stanley Kubrick|   21|
|Christopher Nolan|   21|
|     Howard Hawks|   21|
|    David Fincher|   21|
|Quentin Tarantino|   21|
|      Woody Allen|   20|
|       Rob Reiner|   17|
|   Clint Eastwood|   17|
|  Charles Chaplin|   17|
|     Ridley Scott|   17|
|     Wes Anderson|   17|
|        Joel Coen|   15|
|   Alfonso Cuarón|   14|
|      John Huston|   14|
+-----------------+-----+
only showing top 20 rows

In [25]:
from pyspark.sql.window import Window

df = df.withColumn("Gross", df["Gross"].cast("double"))

window_spec = Window.partitionBy("Genre").orderBy(desc("Gross"))

df = df.withColumn("rank", row_number().over(window_spec))

result_df = df.filter("rank <= 2")

result_df.show()

+--------------------+--------------------+-------------+-----------+-------+---------+-----------+--------------------+--------------------+----------------+------------------+--------------------+------------------+------------------+---------------+---------+----+
|         Poster_Link|        Series_Title|Released_Year|Certificate|Runtime|    Genre|IMDB_Rating|            Overview|          Meta_score|        Director|             Star1|               Star2|             Star3|             Star4|    No_of_Votes|    Gross|rank|
+--------------------+--------------------+-------------+-----------+-------+---------+-----------+--------------------+--------------------+----------------+------------------+--------------------+------------------+------------------+---------------+---------+----+
|https://m.media-a...|      V for Vendetta|         2005|          A|132 min|   Action|        8.2|"In a future Brit...| plots to overthr...|              62|    James McTeigue|        Hugo Weaving|   Natalie Portman|     Rupert Graves|    Stephen Rea|1032749.0|   1|
|https://m.media-a...|Indiana Jones and...|         1989|          U|127 min|   Action|        8.2|"In 1938, after h...| Jr. finds himsel...|              65|  Steven Spielberg|       Harrison Ford|      Sean Connery|      Alison Doody|Denholm Elliott| 692366.0|   2|
|https://m.media-a...|Indiana Jones and...|         1989|          U|127 min|Adventure|        8.2|"In 1938, after h...| Jr. finds himsel...|              65|  Steven Spielberg|       Harrison Ford|      Sean Connery|      Alison Doody|Denholm Elliott| 692366.0|   1|
|https://m.media-a...|      The Lego Movie|         2014|          U|100 min|Adventure|        7.7|"An ordinary LEGO...| is recruited to ...|              83|Christopher Miller|           Phil Lord|       Chris Pratt|      Will Ferrell|Elizabeth Banks| 323982.0|   2|
|https://m.media-a...|      The Lego Movie|         2014|          U|100 min|Animation|        7.7|"An ordinary LEGO...| is recruited to ...|              83|Christopher Miller|           Phil Lord|       Chris Pratt|      Will Ferrell|Elizabeth Banks| 323982.0|   1|
|https://m.media-a...|         Toy Story 4|         2019|          U|100 min|Animation|        7.8|"When a new toy c...| a road trip alon...|              84|       Josh Cooley|           Tom Hanks|         Tim Allen|       Annie Potts|      Tony Hale| 203177.0|   2|
|https://m.media-a...|    Schindler's List|         1993|          A|195 min|Biography|        8.9|In German-occupie...|                  94|Steven Spielberg|       Liam Neeson|       Ralph Fiennes|      Ben Kingsley|  Caroline Goodall|        1213505|     NULL|   1|
|https://m.media-a...|          Goodfellas|         1990|          A|146 min|Biography|        8.7|The story of Henr...|                  90| Martin Scorsese|    Robert De Niro|          Ray Liotta|         Joe Pesci|   Lorraine Bracco|        1020727|     NULL|   2|
|https://m.media-a...|         Toy Story 4|         2019|          U|100 min|   Comedy|        7.8|"When a new toy c...| a road trip alon...|              84|       Josh Cooley|           Tom Hanks|         Tim Allen|       Annie Potts|      Tony Hale| 203177.0|   1|
|https://m.media-a...|  A Hard Day's Night|         1964|          U| 87 min|   Comedy|        7.6|"Over two ""typic...| the boys struggl...|              96|    Richard Lester|         John Lennon|    Paul McCartney|   George Harrison|    Ringo Starr|  40351.0|   2|
|https://m.media-a...|         Dirty Harry|         1971|          A|102 min|    Crime|        7.7|"When a madman ca...| tough-as-nails S...|              90|        Don Siegel|      Clint Eastwood|   Andrew Robinson|    Harry Guardino|   Reni Santoni| 143292.0|   1|
|https://m.media-a...|The Day of the Ja...|         1973|          A|143 min|    Crime|        7.8|"A professional a...| the President of...|              80|    Fred Zinnemann|          Edward Fox| Terence Alexander|    Michel Auclair|     Alan Badel|  37445.0|   2|
|https://m.media-a...|      V for Vendetta|         2005|          A|132 min|    Drama|        8.2|"In a future Brit...| plots to overthr...|              62|    James McTeigue|        Hugo Weaving|   Natalie Portman|     Rupert Graves|    Stephen Rea|1032749.0|   1|
|https://m.media-a...|    Scent of a Woman|         1992|         UA|156 min|    Drama|        8.0|"A prep school st...| but the job is n...|              59|      Martin Brest|           Al Pacino|   Chris O'Donnell|     James Rebhorn|Gabrielle Anwar| 263918.0|   2|
|https://m.media-a...|Sen to Chihiro no...|         2001|          U|125 min|   Family|        8.6|During her family...|                  96|  Hayao Miyazaki|     Daveigh Chase|   Suzanne Pleshette|        Miyu Irino|      Rumi Hiiragi|         651376|     NULL|   1|
|https://m.media-a...|It's a Wonderful ...|         1946|         PG|130 min|   Family|        8.6|An angel is sent ...|                  89|     Frank Capra|     James Stewart|          Donna Reed|  Lionel Barrymore|   Thomas Mitchell|         405801|     NULL|   2|
|https://m.media-a...|Star Wars: Episod...|         1980|         UA|124 min|  Fantasy|        8.7|After the Rebels ...|                  82|  Irvin Kershner|       Mark Hamill|       Harrison Ford|     Carrie Fisher|Billy Dee Williams|        1159315|     NULL|   1|
|https://m.media-a...|      The Green Mile|         1999|          A|189 min|  Fantasy|        8.6|The lives of guar...|                  61|  Frank Darabont|         Tom Hanks|Michael Clarke Du...|       David Morse|       Bonnie Hunt|        1147794|     NULL|   2|
|https://m.media-a...|        Sunset Blvd.|         1950|     Passed|110 min|Film-Noir|        8.4|A screenwriter de...|                NULL|    Billy Wilder|    William Holden|      Gloria Swanson|Erich von Stroheim|       Nancy Olson|         201632|     NULL|   1|
|https://m.media-a...|    Double Indemnity|         1944|     Passed|107 min|Film-Noir|        8.3|An insurance repr...|                  95|    Billy Wilder|    Fred MacMurray|    Barbara Stanwyck|Edward G. Robinson|        Byron Barr|         143525|     NULL|   2|
+--------------------+--------------------+-------------+-----------+-------+---------+-----------+--------------------+--------------------+----------------+------------------+--------------------+------------------+------------------+---------------+---------+----+
only showing top 20 rows