In [1]:
import time
import requests
print("Hello World")


# Crea un archivo TXT para guardar los chistes´
with open("joke.txt", "a") as f:

    # Bucles para obtener X chistes de la API

    for i in range(200):
        # Cada 1 segundos
        time.sleep(1)
        
        # Crer solicitud a la API
        response = requests.get("https://api.chucknorris.io/jokes/random")

        # "Value", porque es la parte que necesitamos, el chiste.
        joke = response.json()["value"]

        # Escribe el articulo en el archivo TXT
        f.write(joke + "\n")

Hello World

In [5]:
import pandas as pd
df = pd.read_csv('joke.txt', sep=" ;54hgghhj ", header=None)

/tmp/ipykernel_765/1906566642.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('joke.txt', sep=" ;54hgghhj ", header=None)

In [6]:
df

                                                     0
0    Chuck Norris once played a game of Russian rou...
1    Chuck Norris names ships by pissing into the s...
2    Chuck Norris could land a whale with his weddi...
3    You have no idea just how many hemorrhoids one...
4    A pair of Chuck Norris' jeans was recently put...
..                                                 ...
195  There are no such things as tornados. Chuck No...
196  Once Freddy Kreuger went to Texas, Chuck Norri...
197  when women r having sex with god they all scre...
198  On Storage Wars, Chuck Norris is allowed go in...
199  Chuck Norris can make a virgin go ass-to-mouth...

[200 rows x 1 columns]